<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>htmx example</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="master.css" />
  </head>
  <body>
    <div class="container">
      <h1>my to do list</h1>
      <div class="formContainer">
        <form hx-post="http://127.0.0.1:5000/add_item" hx-target="#item-list">
          <input type="text" name="name" placeholder="Item name" required />
          <button type="submit">Add</button>
        </form>
      </div>

      <button
        class="refreshButton"
        hx-get="http://127.0.0.1:5000/get_items"
        hx-target="#item-list"
      >
        Refresh
      </button>

      <h2>Item List</h2>
      <ul id="item-list"></ul>
    </div>
  </body>
</html>
